<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eml.ClassFactory.Contracts" version="2.1.0.18" targetFramework="net462" />
  <package id="Eml.ConfigParser" version="2.1.0.8" targetFramework="net462" />
  <package id="Eml.Contracts" version="2.1.0.14" targetFramework="net462" />
  <package id="Eml.DataRepository" version="2.1.0.45" targetFramework="net462" />
  <package id="Eml.EntityBaseClasses" version="2.1.0.15" targetFramework="net462" />
  <package id="Eml.Mediator" version="2.1.0.9" targetFramework="net462" />
  <package id="Eml.SoftDelete" version="1.0.0.9" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="X.PagedList" version="7.5.0" targetFramework="net462" />
</packages>