<div class="statistic ui-g" [style.background-color]="colour">
    <div class="icon ui-g-5">
        <i class="fa {{ icon }}" *ngIf="icon"></i>
    </div>
    <div class="data ui-g-7">
        <div class="value">
            {{ value }}
        </div>
        <div class="label" *ngIf="label">
            {{ label }}
        </div>
    </div>
</div>
<div class="ui-g">
    <p-panel header="Horses" [toggleable]="true" class="ui-g-12" [styleClass]="titleStyle">
        <div class="horse-row" *ngFor="let horse of horseStats; let k = index ">
            <div class="ui-g">
                <div class="data ui-g-10 ">
                    <div class=" horse-name">
                        {{horse.name}}
                    </div>
                    <div>
                        <span class="prize-label">Prize:</span>
                        <span class="horse-win-price">{{horse.winAmount  | currency :'USD':'symbol-narrow':'1.0-2'}}</span>
                    </div>
                </div>
                <div class="data ui-g-2 ">
                    <div class="horse-bet-container">
                        <div>Bets</div>
                        <span class="horse-bet">
                          {{horse.betCount | number: '1.0-2'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div>