<app-busy-indicator [isBusy]="isBusy" title="Searching.."></app-busy-indicator>

<div *ngIf="isReady()" class="ui-g">
  <app-statistic *ngFor="let stat of raceStatResponse.raceStats; let j = index " 
  [label]="stat.status" [value]="stat.raceTotalAmount | currency :'USD':true:'1.0-2'" 
  [icon]="icons[j % safeIndex]" 
  [colour]="colors[j % safeIndex]"
  [titleStyle]="titleStyles[j % safeIndex]"
  [horseStats]  ="stat.horseStats"              
  class="ui-g-12 ui-md-6 ui-lg-3 animated fadeInRight"></app-statistic>
</div>
